body{
   background-image: url('https://static.audioaddict.com/e/7/8/3/9/b/e7839be1803a7734a554b55537b62968.png');
   background-size: cover;
   color: red;
   align-items: center;
}
#simonGame{
  width: 340px;
  height: 600px;

}
#board{
   /*background-color: black;*/
   border-radius: 50%;
   margin-top: 5vh;
   width: 340px;
   height: 340px;
}
#sideBar{
   margin-top: 20vh;
}
.color-btn{
   height: 170px;
   width: 170px;
   border: 10px solid black;
}
.btn:active{
   filter:brightness(200%);
}
#green{
   background-color: #090;
   border-top-left-radius: 100%;
   border-top-width: 20px;
   border-left-width: 20px;
   position: relative;
   left: -80px;
}
#red{
   background-color: #b00;
   border-top-right-radius: 100%;
   border-top-width: 20px;
   border-right-width: 20px;
   position: relative;
   left: 80px;
   top: -170px;
}
#yellow{
   background-color: #bb0;
   border-bottom-left-radius: 100%;
   border-bottom-width: 20px;
   border-left-width: 20px;
   position: relative;
   left: -80px;
   top: -180px;
}
#blue{
   background-color: #00b;
   border-bottom-right-radius: 100%;
   border-bottom-width: 20px;
   border-right-width: 20px;
   position: relative;
   left: 80px;
   top: -350px;
}
#scoreBar{
  background-color: black;
  border-radius: 100%;
  width: 170px;
  height: 170px;
  position: relative;
  top: -600px;
  left: 70px;
}
#start, #reset, #strict{
  position: relative;
  top: 85px;
}
.score{
   background-color: black;
   border-radius: 5px;
   height: 50px;
   width: 50px;
   position: relative;
   left: 60px;
   top: -30px;
   color: red;
}
.brighten{
  filter: brightness(200%);
}
